:root{
    --color-yellow: #fdb813;
    --color-red: #ce1825;
    --color-black: #0f0f0f;
    --color-white:#fff;
    --font-roboto: 'Roboto', sans-serif;
    --font-varela: 'Varela Round', sans-serif;
}