.display-flex{
    display: flex;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1024px;
    padding: 0 2%;
    margin: auto;
}
.-space{
   justify-content: space-between ;
}
.-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.-column{
    flex-direction: column;
}