.main-order{
   background-image: url('../../img/bg-vermelho.jpg');
   width: 100%;
   min-height: 200px;
   position: relative;
}
.single{
   width: calc(6/100%);
   margin-left: 5px;
   text-align: center;
}
.main-order .container{
   text-align: center;
}
.imgseta{
   float: left;
}
.seta{
   position: absolute;
   top: 50%;
  transform: translate(-40%,-100%);
}

.clear{
   clear: both;
}